<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/Icon.png" alt="Padel Pals Logo" style="height: 40px; margin-right: 10px;">
            Padel Pals
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" id="nav-home" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-support" href="support.html">Support</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-privacy" href="privacy.html">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-boxleague" href="boxleague.html">Box League</a></li>
                <li class="nav-item"><a class="nav-link" id="nav-guide" href="guide.html">App Guide</a></li>
                <li class="nav-item"><a class="nav-link" href="dashboard.html" id="navDashboard" style="display: none;">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="auth.html" id="nav-signin">Sign In</a></li>
            </ul>
        </div>
    </div>
</nav> 